<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="public/yata.css">
  <link rel="stylesheet" href="public/header.css">
  <link rel="stylesheet" href="public/container.css">

  <style>
    div.list p {
      margin: 0;
      padding: 5 0 5 0;
      font-size: 18px;
      color: #333;
    }
  </style>
</head>

<div class="header">
  <h1><a href="/">Yata</a></h1>
  <div class="profile">
    <p>Olá, {{email}}!</p>

    <form class="logout" action="/logout" method="POST">
      <input type="submit" value="Logout" />
    </form>
  </div>
</div>

<div class="container no-border">
  <form action="/tasks" method="POST">
    <div class="field field-inline">
      <input type="text" name="name" placeholder="Insira uma nova task" />
      <input type="submit" value="Inserir task" />
    </div>
  </form>

  <div class="list">
    <y-each-tasks>
      <p>{{task.name}}</p>
    </y-each-tasks>
  </div>
</div>
