<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="public/stylesheets/yata.css">
  <link rel="stylesheet" href="public/stylesheets/header.css">
  <link rel="stylesheet" href="public/stylesheets/container.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <style>
    div.list div.item {
      display: flex;
      width: 50%;
      padding: 5 0 5 0;
      font-size: 18px;
      color: #333;
      border-bottom: 1px solid #c6c6c6;
      margin-bottom: 20px;
    }

    div.list div.item p {
      margin: 0;
      width: 100%;
    }

    div.list div.item span {
      cursor: pointer;
    }
  </style>
</head>

<div class="header">
  <h1><a href="/">Yata</a></h1>
  <div class="profile">
    <p>Olá, {{email}}!</p>

    <form class="logout" action="/logout" method="POST">
      <input type="submit" value="Logout" />
    </form>
  </div>
</div>

<div class="container no-border">
  <form action="/tasks" method="POST">
    <div class="field field-inline">
      <input type="text" name="name" placeholder="Insira uma nova task" />
      <input type="submit" value="Inserir task" />
    </div>
  </form>

  <div class="list">
    <y-each-tasks>
      <div class="item">
        <p>{{task.name}}</p>
        <span class="material-icons" onclick="deleteTask(this)" data-task-id="{{task.id}}">delete</span>
      </div>
    </y-each-tasks>
  </div>
</div>

<script type="text/javascript">
  function deleteTask(element) {
    var taskId = element.dataset["taskId"];

    var xhttp = new XMLHttpRequest();

    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 206) {
        element.parentElement.remove();
      }
    };

    xhttp.open("DELETE", "/tasks/" + taskId, true);
    xhttp.send();
  }
</script>
