<head>
  <link rel="stylesheet" href="app/frontend/stylesheets/yata.css">
  <link rel="stylesheet" href="app/frontend/stylesheets/container.css">
</head>

<div class="container">
  <h1><a href="/">Yata</a></h1>
  <h4>Criar nova conta</h4>

  <form action="/register" method="POST">
    <div class="field">
      <input type="email" name="email" placeholder="Digite um email para associar a tua conta" />
    </div>
    <div class="field">
      <input type="password" name="password" placeholder="Digite uma password para sua conta" />
    </div>
    <div class="field">
      <input type="password" name="password_confirmation" placeholder="Confirmar sua password" />
    </div>
    <div class="field">
      <input type="submit" value="Criar" />
      ou <span><a href="/login">Entrar</a>
    </div>
  </form>
</div>
