<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="public/yata.css">
  <link rel="stylesheet" href="public/container.css">

  <style>
  </style>
</head>

<div class="container">
  <h1><a href="/">Yata</a></h1>
  <h4>Login</h4>

  <form action="/login" method="POST">
    <div class="field">
      <input type="email" name="email" placeholder="Digite teu email associado à conta" />
    </div>
    <div class="field">
      <input type="password" name="password" placeholder="Digite tua password" />
    </div>
    <div class="field">
      <input type="submit" value="Entrar" />
      ou <span><a href="/register">Criar nova conta</a>
    </div>
  </form>
</div>
