[Unit]
After=network.target

[Service]
Type=simple
Restart=Always
WorkingDirectory=/home/ec2-user/yata-web
User=ec2-user
ExecStart=/bin/bash -lc "bundle exec rake server"

[Install]
WantedBy=multi-user.target
