<div>
  <h1>Yata</h1>
  <h4>Criar nova conta</h4>

  <form action="/register" method="POST">
    <div>
      <label for="email">Email</label>
      <input type="email" name="email" />
    </div>
    <div>
      <label for="password" name="password">Password</label>
      <input type="password" name="password" />
    </div>
    <div>
      <label for="password_confirmation" name="password_confirmation">Password confirmation</label>
      <input type="password" name="password_confirmation" />
    </div>
    <div>
      <input type="submit" value="Criar" />
      ou <span><a href="/login">Entrar</a>
    </div>
  </form>
</div>

<div>
  <p><a href="/">Home</a></p>
</div>
